<h3>LISTAGEM DAS PESSOAS CADASTRADAS</h3>

<input type="text" 

  name="filtro" 
  
  [class.fundo-vermelho]="propriedade == 'id'"

  (blur)="onBlurInput()" 
  
  placeholder="FILTRE PELO NOME" 
  
  [(ngModel)]="filtro" >

<select name="propriedade" [(ngModel)]="propriedade">

  <option value="id">ID</option>

  <option value="nome">NOME</option>

  <option value="email">E-MAIL</option>

  <option value="dataNascimento">DATA DE NASCIMENTO</option>

  <option value="cidade">CIDADE</option>

</select>

<select name="tipo" [(ngModel)]="tipo">

  <option>ASC</option>

  <option>DESC</option>

</select>

<table style="width:100%" border="1" *ngIf="pessoas.length > 0">

  <thead>

    <tr>

      <td width="20%">ID</td>
      <td width="20%">NOME</td>
      <td width="20%">E-MAIL</td>
      <td width="20%">DATA DE NASCIMENTO</td>
      <td width="20%">CIDADE</td>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let pessoa of pessoas | pessoaFilter:propriedade:filtro | pessoaOrdenacao:propriedade:tipo">

      <td>{{pessoa.id}}</td>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.email}}</td>
      <td>{{pessoa.dataNascimento | date:'dd/MM/yyyy'}}</td>
      <td>{{pessoa.cidade}}</td>

    </tr>

  </tbody>

</table>